.remove-btn {
    width: 30%;
    height: 25%;
    font-size: 1.25rem;
    background-color: gray;
    border-radius: 360rem;
    box-shadow: 2.5px 1.5px;
}

.remove-btn:hover {
    background-color: darkgray;
}

.listParent, .listGames-section {
    height: inherit;
}

.deleteList-btn {
    align-self: flex-start;
    background-color: maroon;
    box-shadow: 2px 4px;
    border-radius: 360rem;
    width: 20rem;
    height: 10rem;
    font-size: 2.5rem;
}

.deleteList-btn:hover {
    background-color: rgb(167, 39, 39);
}

.modal {
    left: 0;
}