#list-form > fieldset {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    margin-bottom: 1rem;
    width: 50%;
}

.list {
    display: flex;  
    justify-content: space-evenly; 
    width: 83.333333333%;
    margin: 0rem;
    padding: 1rem 0 1rem 0;
    border: 1px solid black;
}

.list > div {
    width: 20%;
    text-align: center;
}

.list-headers {
    background-color: rgb(132, 194, 255);
    text-decoration: underline;
    font-weight: bold;
    border: solid 2px black !important;
    border-bottom: 1px solid black !important;
}

#lists-container > section:nth-child(even) {
    background-color: lightgray;
}

#lists-container > section:nth-child(odd) {
    background-color: rgb(182, 182, 182);
}

#lists-container {
    padding-bottom: 5rem;
}